[Unit]
Description=Ton Validator Version Controller by ORBS
After=validator.service

[Service]
User=ubuntu
WorkingDirectory=/usr/src/reporter/
ExecStart=python3 version_controller.py
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
